{%- if vpns["l2vpn"] %}
l2vpn
{%-		for bridge_group, bridge_domains in vpns["l2vpn"].items() %}
  no {{ bridge_group }}
{%-			for bridge_domain_name, bridge_domain in bridge_domains.items() %}
    no bridge-domain {{ bridge_domain_name }}
{%-			endfor %}
{%-		endfor %}
    !
  !
{%-	endif %}

