{#    builds vpns dict #}
{%    set ns = namespace(found=false) %}
{%    set vpns = dict() %}
{%    set _dummy = vpns.setdefault("evpn", {})  %}
{%    set _dummy = vpns.setdefault("l2vpn", {})  %}
{%    for interface in device.interfaces.all() %}
{%        if interface.bridge is not none %}
{%            set _dummy = vpns["l2vpn"].setdefault(interface.bridge.name, {})  %}
{%            set evi = interface.l2vpn_termination  %}
{% if evi %}
  L2VPN: {{ evi.l2vpn.name }}
  Identifier: {{ evi.l2vpn.identifier }}
  type: {{evi.l2vpn.type}}
  import_targets:  {{evi.l2vpn.import_targets}}
  export_targets:  {{evi.l2vpn.export_targets}}
{% endif %}



{%            set _dummy = vpns["l2vpn"][interface.bridge.name].setdefault(interface.l2vpn_termination.identifier, [])  %}
{%        endif %}
{%    endfor %}


{{ vpns }}

