{#- builds vpns dict #}
{%- set ns = namespace(found=false) %}
{%- set vpns = dict() %}
{%- set _dummy = vpns.setdefault("evpn", {}) %}
{%- set _dummy = vpns.setdefault("l2vpn", {}) %}
{%- for interface in device.interfaces.all() %}
{%-     if interface.bridge != None %}
{%-         set evi = interface.l2vpn_termination %}
{%          set bundle_id = interface.lag.name | select("isdigit") | join("") %}
bundle_id: {{ bundle_id }}
{#-         ############################################################## #}
{#-         update the L2VPN dict to generate the config in l2vpn template #}
{%-         set _dummy = vpns["l2vpn"].setdefault(interface.bridge.name, {}) %}
{%-         if evi != None %}
{%-             set _dummy = vpns["l2vpn"][interface.bridge.name].setdefault(evi.l2vpn.name, {
                    'evi': evi.l2vpn.identifier,
                    'type': evi.l2vpn.type,
                    'interfaces': []
                })
%}
{%-             set _dummy = vpns["l2vpn"][interface.bridge.name][evi.l2vpn.name]['interfaces'].append(interface.name) %}
{#-             ############################################################## #}
{#-             update the EVPN dict to generate the config in EVPN template   #}
{%-             set _dummy = vpns["evpn"].setdefault(evi.l2vpn.identifier, {}) %}
{%-             set _dummy = vpns["evpn"].setdefault(evi.l2vpn.identifier, {}) %}
{%-             set _dummy = vpns["evpn"][evi.l2vpn.identifier].setdefault('interfaces', {}) %}
{%-             set _dummy = vpns["evpn"][evi.l2vpn.identifier]['interfaces'].update({
                    interface.parent.name: evi.l2vpn.custom_field_data.get('evpn_identifier', None) ~  {{ bundle_id }}
                }) 
%}
{%-             set _dummy = vpns["evpn"][evi.l2vpn.identifier].setdefault('targets', {
                    'import': evi.l2vpn.import_targets.all() | map(attribute="name") | list,
                    'export': evi.l2vpn.export_targets.all() | map(attribute="name") | list
                })
%}
{%-         endif %}
{%-     endif %}
{%- endfor %}
{{ vpns }}
{%-        include "cisco/iosxr/ncs/evpn.j2" %}
!
{%-        include "cisco/iosxr/ncs/l2vpn.j2" %}
