{# builds vpns dict #}
{%-    set ns = namespace(found=false) %}
{%-    set vpns = dict() %}
{%-    set _dummy = vpns.setdefault("evpn", {})  %}
{%-    set _dummy = vpns.setdefault("l2vpn", {})  %}
{%-    for interface in device.interfaces.all() %}
{%-        if interface.l2vpn is not none %}
{{ interface.name }} has l2vpn: {{ interface.l2vpn }}
{%-        endif %}
{%-    endfor %}


{{ vpns }}
{%-        include "cisco/iosxr/ncs/evpn.j2" %}
!
{%-        include "cisco/iosxr/ncs/l2vpn.j2" %}