hostname {{ device.name }}
!
{%- include 'cisco/iosxr/ncs/interfaces/clean.j2' %}
!
commit
!
{%- include 'cisco/iosxr/ncs/interfaces/config.j2' %}
!
commit
!
{%- include 'cisco/iosxr/ncs/vpns/vpns.j2' %}
!