hostname {{ device.name }}
{#- ################################################# #}
!
{%- include 'cisco/iosxr/ncs/interfaces/clean.j2' %}
!
{#- ################################################# #}
{%- set vpns = {} %}
{%- include 'cisco/iosxr/ncs/vpns/build_dict.j2' %} 
{#- ################################################# #}
{%- include 'cisco/iosxr/ncs/vpns/clean.j2' %}


vpns: {{ vpns }}
{#-
!
commit
!
{%- include 'cisco/iosxr/ncs/interfaces/config.j2' %}
!
commit
!
{%- include 'cisco/iosxr/ncs/vpns/config.j2' %}
!
commit
!
#}
