{%-	if device.interfaces %}
{%-		if vpns["evpn"] %}
evpn
{%-			for evi, route_targets in vpns["evpn"].items() %}
  evi {{ evi }}
    bgp
{%-				for rt_type, rt in vpns["evpn"].items() %}
      route-target {{ rt_type }} {{ rt }}
    !
{%-				endfor %}
    advertise-mac
    !
  !
{%-			endfor %}
{%-		endif %}
{%-	endif %}