

{%-    if device.interfaces %}
{%-        include "cisco/iosxr/ncs/base.j2" %}
{%-        if bridge_groups %}
evpn
{%-            for bg, bds in bridge_groups.items() %}
{%-                for evi, interfaces in bds.items() %}
  evi {{ evi }}
    bgp
      route-target import 1:{{ evi }}
      route-target export 1:{{ evi }}
    !
{%-                endfor %}
{%-            endfor %}
{%-        endif %}
{%-    endif %}
