{%- set bridge_groups = build_bridge_groups(device) %}

{%- if bridge_groups %}
l2vpn
{%-    for bg, bds in bridge_groups.items() %}
  bridge group {{ bg }}
{%-        for evi, interfaces in bds.items() %}
    bridge-domain EVPN_{{ evi }} 
{%-           for inter in interfaces %}
      interface {{ inter }}
{%-           endfor %}
      evi {{ evi }}
{%-        endfor %}
{%-    endfor %}
{%-   endif %}

{{ bridge_groups }}
