{%- if device.custom_field_data.get('http_proxy') != None or device.custom_field_data.get('https_proxy') != None %}
{%- 	if device.custom_field_data.get('http_proxy') != None %}
{%-			set http_proxy_id=device.custom_field_data.get('http_proxy')  %}
{%-         if http_proxy_id %}
http_proxy_id= {{ http_proxy_id }}
{%- 	    else %}
no http_proxy
no HTTP_PROXY
{%-		    endif %}
{%- 	else %}
no http_proxy
no HTTP_PROXY
{%-     endif %}
{%- endif %}