{%- if device.custom_field_data.get('http_proxy') != None and device.custom_field_data.get('https_proxy') != None %}
{%- 	if device.custom_field_data.get('http_proxy') != None %}
{%-			set http_proxy_id=device.custom_field_data.get('http_proxy')  %}
http_proxy_id = {{ http_proxy_id }}
{%          if http_proxy_id != None %}
{%-             set http_proxy=ipam['Service'].objects.get(id=http_proxy_id) %}
http_proxy = {{ http_proxy }}
{%-		    endif %}
{%-		endif %}
{%- endif %}