{%-  if device.interfaces != None %} 
{#--   ########################################################################   --}
{#--   deeltion of bond interfaces --}
{%-    for interface in device.interfaces.all() %}
{%-        if interface.custom_field_data.get("auto_config", false)  %}
nmcli connection delete {{ interface.name }}
{%-        endif %}
{%-    endfor %}
{#--   ########################################################################   --}
{#--   adding bond interfaces --}
{%-    for interface in device.interfaces.all() %}
{%-      if interface.custom_field_data.get("auto_config", false)  %}
{%-        if interface.type == "lag"  %}
{%-          set inter_type = "bond" %}
nmcli connection add type {{ inter_type }} con-name {{ interface.name }} ifname {{ interface.name }}

{%-          if interface.mtu != None  %}
nmcli connection modify {{ interface.name }} 802-3-ethernet.mtu {{ interface.mtu }}
{%-          endif  %}
{%-        endif  %}
{%-      endif %}
{%-    endfor %}
{#-- ######################################################################## --}



{#-- ######################################################################## --}
{#-- adding Ether interfaces --}
{#-- ######################################################################## --}


{#-- ######################################################################## --}
{#-- adding vlan interfaces --}
{#-- ######################################################################## --}

{%-  endif %}

