{%- if device.static_routes != None %}
#
{%-		for sr in device.static_routes.all() %}
{%-			set sr_interface=sr.custom_field_data.get('interface') %}
{%-			if sr_interface != None %}
{%-				set interface_name = device.interfaces.objects.get(id=sr_interface).name %}
sudo nmcli connection modify {{ interface_name }} +ipv4.routes "{{ sr.prefix }} {{ sr.next_hop }} {{ sr.metric }}" 
{%-			endif %}
{%-     endfor %}
{%- endif %}