{%- if device.static_routes != None %}
###########################################################
{%-     for sr in device.static_routes.all() %}
ip route add {{ sr.prefix }} via {{ sr.next_hop }} weight {{ sr.metric }}
{%-     endfor %}
###########################################################
{%- endif %}