{%- set k8s_cluster = namespace(object=none, pod_subnet="172.17.0.0/16", pod_network="172.17.0.0", pod_mask_size="16") %}
{%- set k8s_cluster.object = virtualmachine.cf.get("k8s_cluster") %}
{%- if k8s_cluster.object %}
{%-     if k8s_cluster.object.pods_cidr is defined and k8s_cluster.object.pods_cidr %}
{%-         if k8s_cluster.object.pods_cidr.prefix is defined and k8s_cluster.object.pods_cidr.prefix %}
{%-             set k8s_cluster.pod_subnet = k8s_cluster.object.pods_cidr.prefix | string %}
{%-         elif k8s_cluster.object.pods_cidr.display is defined and k8s_cluster.object.pods_cidr.display %}
{%-             set k8s_cluster.pod_subnet = k8s_cluster.object.pods_cidr.display | string %}
{%-         else %}
{%-             set k8s_cluster.pod_subnet = k8s_cluster.object.pods_cidr | string %}
{%-         endif %}
{%-     endif %}
{%- endif %}
{%- if "/" in k8s_cluster.pod_subnet %}
{%-     set pod_subnet_parts = k8s_cluster.pod_subnet.split("/") %}
{%-     set k8s_cluster.pod_network = pod_subnet_parts[0] %}
{%-     set k8s_cluster.pod_mask_size = pod_subnet_parts[1] %}
{%- endif %}
{%- set cilium_east_west = namespace(address="", port="6443", subnet="") %}
{%- if virtualmachine.interfaces %}
{%-     for interface in virtualmachine.interfaces.all() %}
{%-         set traffic_role = interface.custom_field_data.get("traffic_role", "") %}
{%-         if traffic_role == "east_west" and not cilium_east_west.address and interface.ip_addresses %}
{%-             set east_west_ipv4_addresses = interface.ip_addresses.filter(address__family=4) %}
{%-             if east_west_ipv4_addresses and east_west_ipv4_addresses.first() %}
{%-                 set east_west_ip = east_west_ipv4_addresses.first() %}
{%-                 set east_west_address = east_west_ip.address %}
{%-                 set cilium_east_west.address = east_west_address.ip | string %}
{%-                 if east_west_address.cidr is defined %}
{%-                     set cilium_east_west.subnet = east_west_address.cidr | string %}
{%-                 elif east_west_address.network is defined and east_west_address.prefixlen is defined %}
{%-                     set cilium_east_west.subnet = (east_west_address.network | string) ~ "/" ~ (east_west_address.prefixlen | string) %}
{%-                 elif east_west_ip.parent is defined and east_west_ip.parent %}
{%-                     if east_west_ip.parent.prefix is defined %}
{%-                         set cilium_east_west.subnet = east_west_ip.parent.prefix | string %}
{%-                     else %}
{%-                         set cilium_east_west.subnet = east_west_ip.parent | string %}
{%-                     endif %}
{%-                 endif %}
{%-             endif %}
{%-         endif %}
{%-     endfor %}
{%- endif -%}
k8sServiceHost: localhost   # {{ cilium_east_west.address }}
k8sServicePort: 7445        # {{ cilium_east_west.port }}

cleanState: true
cleanBpfState: true

rollOutCiliumPods: true
dnsPolicy: "ClusterFirst"

resources:
  limits:
    cpu: 4000m
    memory: 4Gi
  requests:
    cpu: 100m
    memory: 512Mi

securityContext:
  allowPrivilegeEscalation: false
  privileged: false
  seLinuxOptions:
    level: 's0'
    type: 'spc_t'
  capabilities:
    ciliumAgent:
      - CHOWN
      - KILL
      - NET_ADMIN
      - NET_RAW
      - IPC_LOCK
      - SYS_ADMIN
      - SYS_RESOURCE
      - PERFMON
      - BPF
      - DAC_OVERRIDE
      - FOWNER
      - SETGID
      - SETUID
      - SYSLOG
    mountCgroup:
      - SYS_ADMIN
      - SYS_CHROOT
      - SYS_PTRACE
    applySysctlOverwrites:
      - SYS_ADMIN
      - SYS_CHROOT
      - SYS_PTRACE
    cleanCiliumState:
      - NET_ADMIN
      - SYS_ADMIN
      - SYS_RESOURCE
      - PERFMON
      - BPF

updateStrategy:
  type: RollingUpdate
  rollingUpdate:
    maxUnavailable: 2

# ipv4NativeRoutingCIDR: "{{ cilium_east_west.subnet }}"
ipv4NativeRoutingCIDR: "{{ k8s_cluster.pod_subnet }}"

# -- Enable installation of PodCIDR routes between worker nodes if worker nodes share a common L2 network segment.
autoDirectNodeRoutes: true

# -- Enable skipping of PodCIDR routes between worker
# nodes if the worker nodes are in a different L2 network segment.
directRoutingSkipUnreachable: false

# -- Annotate k8s node upon initialization with Cilium's metadata.
annotateK8sNode: true

l2announcements:
  enabled: false

# TODO: test pods announcement
l2podAnnouncements:
  enabled: false
  # interface: "eth0"
  # interfacePattern: ""

################################################################################
# TODO: makes the interfaces assignment dynamic

# -- Specify which network interfaces can run the eBPF datapath. This means
# that a packet sent from a pod to a destination outside the cluster will be
# masqueraded (to an output device IPv4 address), if the output device runs the
# program. When not specified, probing will automatically detect devices that have
# a non-local route. This should be used only when autodetection is not suitable.

# devices: ""

nodePort:
  enabled: false
#   directRoutingDevice: eth0
################################################################################

forceDeviceDetection: true

bpf:
  preallocateMaps: true
  distributedLRU:
    enabled: true
  policyMapMax: 16384
  policyStatsMapMax: 65536
  # @schema
  # type: [null, number, string]
  # @schema
  # -- (float64) Configure auto-sizing for all BPF maps based on available memory.
  # ref: https://docs.cilium.io/en/stable/network/ebpf/maps/
  # @default -- `0.0025`
  mapDynamicSizeRatio: ~
  lbAlgorithmAnnotation: true
  lbModeAnnotation: true
  masquerade: true
  # -- (string) Mode for Pod devices for the core datapath (veth, netkit, netkit-l2).
  # Note netkit is incompatible with TPROXY (`bpf.tproxy`).
  datapathMode: veth

cni:
  install: true
  exclusive: false
  resources:
    requests:
      cpu: 100m
      memory: 10Mi
    limits:
      cpu: 1
      memory: 1Gi

# -- Limit iptables-based egress masquerading to interface selector.
# egressMasqueradeInterfaces: ""

# -- Enable setting identity mark for local traffic.
# enableIdentityMark: true

envoyConfig:
  enabled: true
  secretsNamespace:
    create: true
    name: cilium-secrets
  retryInterval: 15s

gatewayAPI:
  enabled: true
  enableAlpn: true
  enableAppProtocol: true
  externalTrafficPolicy: Cluster
  gatewayClass:
    create: 'true'
  secretsNamespace:
    create: true
    name: cilium-secrets
    sync: true
  hostNetwork:
    enabled: false
    # todo: test this
    # Specify the nodes where the Ingress listeners should be exposed
    nodes:
      # -- Specify the labels of the nodes where the Ingress listeners should be exposed
      #
      # matchLabels:
      #   kubernetes.io/os: linux
      #   kubernetes.io/hostname: kind-worker
      matchLabels: {}

encryption:
  enabled: false
  type: wireguard
  nodeEncryption: true
  strictMode:
    egress:
      enabled: false
      cidr: ""
      allowRemoteNodeIdentities: false
    ingress:
      enabled: false
  wireguard:
    persistentKeepalive: 0s

endpointRoutes:
  # -- Enable use of per endpoint routes instead of routing via
  # the cilium_host interface.
  enabled: false

# -- Enable routing to a service that has zero endpoints
enableNoServiceEndpointsRoutable: true

hubble:
  enabled: true
  tls:
    enabled: true
    auto:
      enabled: true
      method: cronJob
  relay:
    enabled: true
  ui:
    enabled: true

installNoConntrackIptablesRules: false  # TODO: test with true

ipam:
  # ref: https://docs.cilium.io/en/stable/network/concepts/ipam/
  mode: cluster-pool
  operator:
    clusterPoolIPv4PodCIDRList:
    - {{ k8s_cluster.pod_network }}/{{ k8s_cluster.pod_mask_size }}
    clusterPoolIPv4MaskSize: 24

defaultLBServiceIPAM: lbipam
nodeIPAM:
  enabled: true

ipMasqAgent:
  enabled: false
  # config:
  #   masqLinkLocalIPv6: false
  #   masqLinkLocal: true
  #   nonMasqueradeCIDRs:
  #   - 172.20.0.1/32   # DB subnets for example
  #   - 172.20.0.2/32   # DB subnets for example
  #   - 172.20.0.3/32   # DB subnets for example

k8s:
  requireIPv4PodCIDR: true
  requireIPv6PodCIDR: false
  apiServerURLs: "https://{{ cilium_east_west.address }}:{{ cilium_east_west.port }}"

kubeProxyReplacement: true

l2NeighDiscovery:
  enabled: false

l7Proxy: true

maglev:
  tableSize: 65521
  hashSeed: lcZ10lyASHpL/lK6

enableIPv4Masquerade: true

enableMasqueradeRouteSource: false  # TODO test with true

egressGateway:
  enabled: false

# -- Configure service load balancing
loadBalancer:
  algorithm: maglev
  mode: snat
  acceleration: best-effort
  dsrDispatch: opt
  serviceTopology: false
  l7:
    backend: disabled
    ports: []
    algorithm: round_robin

envoy:
  enabled: true
  baseID: 0
  # -- For cases when CiliumEnvoyConfig is not used directly (Ingress, Gateway), configures Cilium BPF Metadata listener filter
  # to use the original source address when extracting the metadata for a request.
  useOriginalSourceAddress: true

tls:
  secretsNamespace:
    create: true
    name: cilium-secrets

# -- Tunneling protocol to use in tunneling mode and for ad-hoc tunnels.
# Possible values:
#   - ""
#   - vxlan
#   - geneve
tunnelProtocol: ""

underlayProtocol: "ipv4"

routingMode: "native"

# todo: add etcd later...
etcd:
  enabled: false
  # -- List of etcd endpoints
  endpoints:
    - https://CHANGE-ME:2379
  ssl: false

operator:
  enabled: true
  rollOutPods: false
  replicas: 2

# todo: might be necessary with talos?
nodeinit:
  enabled: false

# todo: must be used during upgrades...
preflight:
  # -- Enable Cilium pre-flight resources (required for upgrade)
  enabled: false

# -- Configure cgroup related configuration
cgroup:
  autoMount:
    enabled: false
  hostRoot: /sys/fs/cgroup

authentication:
  enabled: true

enableInternalTrafficPolicy: true

enableLBIPAM: true
