{%- if virtualmachine.platform.name == "Talos"  %}
talos:
{%  include "linux/talos/talos.j2" %}
{%- endif %}
{%-     if virtualmachine.role.name == "control-plane"  %}
cilium:
{% include "linux/talos/cilium.j2" %}
{%- endif %}
