{%- if virtualmachine.platform.name == "Talos"  %}
---
apiVersion: v1alpha1
kind: HostnameConfig
auto: off # A method to automatically generate a hostname for the machine.
hostname: "{{ virtualmachine.name }}"
{%-     endif %}
