{%- if virtualmachine.platform == "Talos"  %}
---
apiVersion: v1alpha1
kind: HostnameConfig
auto: off # A method to automatically generate a hostname for the machine.
hostname: "{{ node.name }}" # A static hostname to set for the machine.
{%-     endif %}
