{%- set cert_sans = ["127.0.0.1"] %}
{%- set install_disk = namespace(name="") %}
{%- set storage_disk = namespace(name="") %}
{%- set east_west = namespace(name="", gateway="", subnet="") %}
{%- set k8s_cluster = namespace(object=none, pod_subnet="172.17.0.0/8", service_subnet="172.18.0.0/16", domain="cluster.local") %}
{%- set k8s_cluster.object = virtualmachine.cf.get("k8s_cluster") %}
{%- set openstack_image = namespace(object=none, name="", version="latest") %}
{%- set openstack_image.object = virtualmachine.cf.get("openstack_image") %}
{%- if openstack_image.object %}
{%-     set openstack_image.name = openstack_image.object.name %}
{%- endif %}
{%- if k8s_cluster.object %}
{%-     if k8s_cluster.object.pods_cidr.prefix is defined and k8s_cluster.object.pods_cidr.prefix %}
{%-         set k8s_cluster.pod_subnet = k8s_cluster.object.pods_cidr.prefix | string %}
{%-     endif %}
{%-     if k8s_cluster.object.service_cidr.prefix is defined and k8s_cluster.object.service_cidr.prefix %}
{%-         set k8s_cluster.service_subnet = k8s_cluster.object.service_cidr.prefix | string %}
{%-     endif %}
{%-     if k8s_cluster.object.domain is defined and k8s_cluster.object.domain %}
{%-         set k8s_cluster.domain = k8s_cluster.object.domain | string %}
{%-     endif %}
{%- endif %}
{%- set openstack_image.version = openstack_image.name.split("-")[1] %}
{%- if virtualmachine.interfaces %}
{%-     for interface in virtualmachine.interfaces.all() %}
{%-         set traffic_role = interface.custom_field_data.get("traffic_role", "") %}
{%-         if traffic_role == "east_west" and not east_west.name %}
{%-             set east_west.name = interface.name %}
{%-             set east_west.gateway = interface.custom_field_data.get("gateway", "") %}
{%-             if interface.ip_addresses %}
{%-                 set _ew_ipv4 = interface.ip_addresses.filter(address__family=4) %}
{%-                 if _ew_ipv4 and _ew_ipv4.first() %}
{%-                     set _ew_ip = _ew_ipv4.first() %}
{%-                     set _ew_addr = _ew_ip.address %}
{%-                     if _ew_addr.cidr is defined %}
{%-                         set east_west.subnet = _ew_addr.cidr | string %}
{%-                     elif _ew_addr.network is defined and _ew_addr.prefixlen is defined %}
{%-                         set east_west.subnet = (_ew_addr.network | string) ~ "/" ~ (_ew_addr.prefixlen | string) %}
{%-                     elif _ew_ip.parent is defined and _ew_ip.parent %}
{%-                         if _ew_ip.parent.prefix is defined %}
{%-                             set east_west.subnet = _ew_ip.parent.prefix | string %}
{%-                         else %}
{%-                             set east_west.subnet = _ew_ip.parent | string %}
{%-                         endif %}
{%-                     endif %}
{%-                     if not east_west.subnet %}
{%-                         set _ew_str = _ew_addr | string %}
{%-                         if "/" in _ew_str %}
{%-                             set _ew_parts = _ew_str.split("/") %}
{%-                             set _prefix = _ew_parts[1] | int %}
{%-                             set _octets = _ew_parts[0].split(".") %}
{%-                             set _ip_int = (_octets[0] | int) * 16777216 + (_octets[1] | int) * 65536 + (_octets[2] | int) * 256 + (_octets[3] | int) %}
{%-                             set _host_size = 2 ** (32 - _prefix) %}
{%-                             set _net_int = _ip_int - (_ip_int % _host_size) %}
{%-                             set _o1 = (_net_int // 16777216) | string %}
{%-                             set _o2 = ((_net_int % 16777216) // 65536) | string %}
{%-                             set _o3 = ((_net_int % 65536) // 256) | string %}
{%-                             set _o4 = (_net_int % 256) | string %}
{%-                             set east_west.subnet = _o1 ~ "." ~ _o2 ~ "." ~ _o3 ~ "." ~ _o4 ~ "/" ~ _ew_parts[1] %}
{%-                         endif %}
{%-                     endif %}
{%-                 endif %}
{%-             endif %}
{%-         endif %}
{%-         if interface.ip_addresses %}
{%-             for ip in interface.ip_addresses.all() %}
{%-                 set ip_address = ip.address.ip | string %}
{%-                 if ip_address not in cert_sans %}
{%-                     set _dummy = cert_sans.append(ip_address) %}
{%-                 endif %}
{%-             endfor %}
{%-         endif %}
{%-     endfor %}
{%- endif %}
{%- if virtualmachine.virtualdisks %}
{%-     for disk in virtualmachine.virtualdisks.all() %}
{%-         set is_operating_system_disk = disk.custom_field_data.get("operating_system") %}
{%-         if not install_disk.name and is_operating_system_disk == true %}
{%-             set install_disk.name = disk.name %}
{%-         endif %}
{%-         if not storage_disk.name and is_operating_system_disk == false %}
{%-             set storage_disk.name = disk.name %}
{%-         endif %}
{%-     endfor %}
{%- endif %}
{%- set _talos = virtualmachine.cf.get("talos", {}) %}
{%- set _net = _talos.get("network", {}) %}
{%- set _static_routes = _net.get("routes", [{"network": "0.0.0.0/0", "gateway": east_west.gateway if east_west.gateway else "10.64.0.1"}]) %}
{%- set _kubelet = _talos.get("kubelet", {}) %}
{%- set _nodeip = _kubelet.get("nodeIP", {}) %}
{%- set _valid_subnets = _nodeip.get("validSubnets", [east_west.subnet if east_west.subnet else "10.64.3.0/20"]) -%}
---
apiVersion: v1alpha1
kind: HostnameConfig
auto: off
hostname: "{{ virtualmachine.name }}"
---
version: v1alpha1
debug: false
persist: true
cluster:
  network:
    cni:
      name: none
    podSubnets: {{ [k8s_cluster.pod_subnet] | tojson }}
    serviceSubnets: {{ [k8s_cluster.service_subnet] | tojson }}
    dnsDomain: {{ k8s_cluster.domain }}
{#-     interfaces:
    - interface: {{ east_west.name if east_west.name else "ens3" }}
      routes:
{%-     for route in _static_routes %}
      - network: {{ route.get("network", "") }}
        gateway: {{ route.get("gateway", "") }}
{%-     endfor %}
#}
  proxy:
    disabled: true
machine:
  features:
    hostDNS:
      enabled: true
      forwardKubeDNSToHost: false
    kubePrism:
      enabled: true
      port: 7445
{%- if virtualmachine.role.name == "control-plane" %}
  {#- ref: https://docs.siderolabs.com/kubernetes-guides/advanced-guides/node-labels #}
  nodeLabels:
    node.kubernetes.io/exclude-from-external-load-balancers: ""
{%- endif %}
  install:
    disk: /dev/{{ install_disk.name }} {# eg: /dev/sda The disk used for installations. #}
    image: ghcr.io/siderolabs/installer:v{{ openstack_image.version }}  {# eg: v1.12.5 # Allows for supplying the image used to perform the installation. #}
    wipe: true  {# Indicates if the installation disk should be wiped at installation time. #}
    grubUseUKICmdline: true  {# Indicates if legacy GRUB bootloader should use kernel cmdline from the UKI instead of building it on the host. #}
  certSANs: {{ cert_sans | tojson }}
{%- if virtualmachine.role.name == "storage-worker" %}
  kernel:
    modules:
    - name: dm_mod
    - name: dm_snapshot
    - name: dm_thin_pool
{%- endif %}
  kubelet:
    nodeIP:
      validSubnets:
{%- for subnet in _valid_subnets %}
      - {{ subnet }}
{%- endfor %}
{%- if virtualmachine.role.name == "storage-worker" %}
    extraMounts:
    - destination: /var/openebs/local
      type: bind
      source: /var/openebs/local
      options:
      - bind
      - rshared
{%- endif %}
