{%- set cert_sans = ["127.0.0.1"] %}
{%- set install_disk = namespace(name="") %}
{%- set storage_disk = namespace(name="") %}
{%- set disks = namespace(install=install_disk, storage=storage_disk) %}

---
apiVersion: v1alpha1
kind: HostnameConfig
auto: off
hostname: "{{ virtualmachine.name }}"
