{#- -----------------------------------------------------------     #}
{#- Macro: configure IP addresses for IPv4/IPv6                     #}
{#- -----------------------------------------------------------     #}
{%- macro configure_ip(iface) -%}
{%-     for family in [4, 6] %}
{%-         set ips = iface.ip_addresses.filter(address__family=family) %}
{%-         if ips %}
{%-             for ip in ips %}
nmcli connection modify {{ iface.name }} ipv{{ family }}.method manual ipv{{ family }}.address {{ ip.address }}
{%-             endfor %}
{%-         else %}
nmcli connection modify {{ iface.name }} ipv{{ family }}.method disabled
{%-         endif %}
{%-     endfor %}
{%- endmacro %}
{#- ------------------------------------------------------------    #}
{#- Macro: configure ethernet options (MTU, speed, duplex)          #}
{#- ------------------------------------------------------------    #}
{%- macro configure_eth_opts(iface) -%}
{%-     if iface.speed != None and iface.speed != None and iface.duplex != None and iface.mtu != None %}
nmcli connection modify {{ iface.name }} 802-3-ethernet.auto-negotiate no
{%-     endif %}
{%-     if iface.speed %}
nmcli connection modify {{ iface.name }} 802-3-ethernet.speed {{ (iface.speed / 1000) | int }}
{%-     endif %}
{%-     if iface.duplex %}
nmcli connection modify {{ iface.name }} 802-3-ethernet.duplex {{ iface.duplex }}
{%-     endif %}
{%-     if iface.mtu %}
nmcli connection modify {{ iface.name }} 802-3-ethernet.mtu {{ iface.mtu }}
{%-     endif %}
{%-     if iface.mac_address or iface.mac_addresses.all().first() %}
nmcli connection modify {{ iface.name }} 802-3-ethernet.cloned-mac-address {{ iface.mac_address or iface.mac_addresses.all().first() }}
{%-     endif %}
{%- endmacro %}
{#- ------------------------------------------------------------    #}
{#- Macro: create connection based on type (bond, ethernet, vlan)   #}
{#- ------------------------------------------------------------    #}
{%- macro create_connection(iface) -%}
{%-     if iface.type == "lag" %}
{%-         set inter_type = "bond" %}
{%-     elif iface.type == "virtual" %}
{%-         set inter_type = "vlan" %}
{%-     elif iface.type not in ["virtual", "bridge", "lag"] %}
{%-         set inter_type = "ethernet" %}
{%-     endif %}
nmcli connection add type {{ inter_type }} con-name {{ iface.name }} ifname {{ iface.name }}{%- if iface.type == "virtual" %} dev {{ iface.parent.name }} id {% for char in iface.name.split('.')[1] if char.isdigit() %}{{ char }}{% endfor %}{%- endif %}
{%-     if iface.type == "lag" %}
nmcli connection modify {{ iface.name }} bond.options "mode=802.3ad,miimon=100"
nmcli connection modify {{ iface.name }} lacp-rate {{ "fast" if iface.custom_field_data.get("lacp_period") == "short" else "slow" }}
{%-     endif %}
{%-     if iface.lag %}
nmcli connection modify {{ iface.name }} master {{ iface.lag.name }}
{%-     else %}
{{- configure_ip(iface) }}
{{- configure_eth_opts(iface) }}
{%-     endif %}
nmcli connection {{ "up" if iface.enabled else "down" }} {{ iface.name }}
{%- endmacro %}