{#------------------------------------------------------------#}
{# Macro: configure IP addresses for IPv4/IPv6              #}
{#------------------------------------------------------------#}
{% macro configure_ip(iface) -%}
{%- for family in [4, 6] %}
    {%- set ips = iface.ip_addresses.filter(address__family=family) %}
    {%- if ips %}
        {%- for ip in ips %}
nmcli connection modify {{ iface.name }} ipv{{ family }}.method manual ipv{{ family }}.address {{ ip.address }}
        {%- endfor %}
    {%- else %}
nmcli connection modify {{ iface.name }} ipv{{ family }}.method disabled
    {%- endif %}
{%- endfor %}
{%- endmacro %}
